<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{data.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{data.title}}</ion-card-title>
        <ion-card-subtitle>{{data.description}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <img src="../../assets/{{data.image}}" />
          </ion-col>
          <ion-col size="4">
            <h1>RM {{data.price}}</h1>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>